# URL del servidor SmartRack
API_BASE_URL="http://localhost:8081"

# Credenciales SmartRack
API_USERNAME=USER
API_PASSWORD=AUTOSMD

# Puerto del servidor FastAPI
SERVER_PORT=4500

# Polling Interval (segundos)
POLL_INTERVAL_SECONDS=5

# Intervalo de re-login (segundos)
LOGIN_INTERVAL_SECONDS=86400

# Nivel de log: DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO

# Archivos de Datos
LOG_FILE="smartrack.log"
DB_NAME="inventory.db"

# --- Acceso a Configuracion de Lineas ---
CONFIG_USERNAME=admin
CONFIG_PASSWORD=admin1234
