# Entornos Virtuales
venv/
.venv/
env/
env.bak/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Compilados de PyInstaller
build/
dist/
*.spec
*.exe

# Base de Datos y Logs (No subir a Git)
inventory.db
inventory.db-shm
inventory.db-wal
smartrack.db*
logs/
*.log

# Pruebas y Cobertura
.pytest_cache/
.coverage
coverage.xml
tests/coverage_html/

# Variables de Entorno (Contraseñas)
.env

# Configuración del Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
.gemini/
